
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-hand-grab-o:before { content: '\f255'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
